<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package OrderId="CommonDomain" version="1.6.0.3" targetFramework="net452" userInstalled="true" />
  <package OrderId="NEventStore" version="4.0.0.15" targetFramework="net452" userInstalled="true" />
  <package OrderId="Newtonsoft.Json" version="5.0.7" targetFramework="net452" userInstalled="true" />
</packages>