<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
   <Section Name="PizzaShop.CustomerServiceReplicatorConfig">
      <Parameter Name="ReplicatorEndpoint" Value="PizzaShop.CustomerServiceReplicatorEndpoint" />
   </Section>
   <Section Name="PizzaShop.CustomerServiceReplicatorSecurityConfig">
      <Parameter Name="CredentialType" Value="None" />
   </Section>
   <Section Name="PizzaShop.CustomerServiceLocalStoreConfig">
      <Parameter Name="MaxAsyncCommitDelayInMilliseconds" Value="100" />
      <Parameter Name="MaxVerPages" Value="32768" />
   </Section>
   <Section Name="PizzaShop.ActorServiceReplicatorConfig">
      <Parameter Name="ReplicatorEndpoint" Value="PizzaShop.ActorServiceReplicatorEndpoint" />
   </Section>
   <Section Name="PizzaShop.ActorServiceReplicatorSecurityConfig">
      <Parameter Name="CredentialType" Value="None" />
   </Section>
   <Section Name="PizzaShop.ActorServiceLocalStoreConfig">
      <Parameter Name="MaxAsyncCommitDelayInMilliseconds" Value="100" />
      <Parameter Name="MaxVerPages" Value="32768" />
   </Section>
</Settings>